*{
    margin: 0;
    padding: 0;
}
body{
    background-color: violet;
    
}
.fila1{
    height: 20vw;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;

}

.fila2{
    height: 40vw;
    background-color: red;
    display: flex;
    
}
.fila3{
    height: 40vw;
    background-color: blue;
}
.fila1> article{
    width: 25vw;
    background-color: rgb(88, 79, 71);
  
    
}
.fila2> article{
    width: 25vw;
    background-color: chocolate; 
    height: 40vw; 
}

.fila2> article>article{
    width: 25vw;
    background-color: violet;
    height: 20vw;
  
    
}